<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>
<div>
    <a href="history.html">Historial</a>
</div>
<h1>To do List</h1>
<div><a href="create.html">Crear nueva tarea</a></div>
<div>Numero de personas {{Task_number}}</div>
<div>
  <table>
      <thead>
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Start Time</th>
          <th>End Time</th>
      </tr>
      </thead>
      <tbody>
      {% for task in tasks %}
        <tr>
            <td>{{task.id}}</td>
            <td>{{task.name}}</td>
            <td>{{task.startTime}}</td>
            <td>{{task.endTime}}</td>
            <td><a href="edit/{{task.id}}">Editar</a></td>
            <td><a href="delete/{{task.id}}">Eliminar</a></td>
            <td><a href="finish/{{task.id}}">Terminar</a></td>

        </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
</body>
</html>